.titulo {
    font-size: 15px;
    color: yellow;
    background-color: black;
    animation-name: colores;
    animation-duration: 8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    /* -webkit-transition: color 1s;
    transition: color 1s; */
}

/*
.titulo:hover {
    background-color: red;
    color: white;
    font-size: 25px;
}
*/

@keyframes colores {
    0% {
        background-color: red;
        color: brown;
        font-size: 10px;
    }
    40% {
        background-color: yellow;
        color: green;
        font-size: 20px;
    }
    50% {
        background-color: blue;
        color: red;
        font-size: 25px;
    }
    75% {
        background-color: green;
        color: black;
        font-size: 20px;
    }
    100% {
        background-color: green;
        color: yellow;
        font-size: 15px;
    }
}